@model Stocky.Models.Category
@{
    ViewBag.Title = "Category Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model == null)
{
    <h1>Add Category</h1>
}
else
{
    <h1>Edit Category</h1>
}


@using (@Html.BeginForm("Save", "Categories"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
    </div>
  
    @Html.HiddenFor(c => c.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}


