@model IEnumerable<Stocky.Models.Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<p>
    @Html.ActionLink("Add Category", "New", "Categories", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <text> No Categories have been created </text>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "Categories", new {id = category.Id}, null)</td>
            </tr>
        }
        </tbody>
    </table>
}


