@model IEnumerable<Stocky.Models.Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<p>
    @Html.ActionLink("Add Category", "New", "Categories", null, new { @class = "btn btn-primary pull-right" })
</p>

@if (!Model.Any())
{
    <text> No Categories have been created </text>
}
else
{
    <table id="categories" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
      
        </tbody>
    </table>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#categories").DataTable({
                "dom": '<"top"f>rt<"bottom"ip><"clear">',
                ajax: {
                    url: "/api/categories",
                    dataSrc: "",
                },
                columns: [
                    {
                        data: "name"
                    },
                  
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-link js-delete' data-category-id=" + data + ">Delete</button> <a class='btn btn-link' href='/Categories/Edit?id=" + data + "'>Edit</a>";
                        }
                    }
                ]
            });


            $("#categories").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this category?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/categories/" + button.attr("data-category-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}


