@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<p>
    @Html.ActionLink("Add Product", "New", "Products", null, new { @class = "btn btn-primary" })
</p>


<table id="products" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Sku</th>
            <th>Product Description</th>
            <th>Price</th>
            @*
            <th>Categories</th>
            *@
            <th>Actions</th>

        </tr>
    </thead>

    <tbody>

    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#products").DataTable({
                ajax: {
                    url: "/api/products",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "sku"
                    },
                    {
                        data: "description",
                    },
                    {
                        data: "price",
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-link js-delete' data-product-id=" + data + ">Delete</button> <a class='btn btn-link' href='/Products/Edit?id=" + data + "'>Edit</a>";
                        }
                     }
                ]
            });


            $("#products").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this product?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/products/" + button.attr("data-product-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
    


